<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h1>
        welcome to <i class="fas fa-book"></i>Bookers !!
      </h1>
      <p>
        In <strong><i class="fas fa-book"></i>Bookers</strong>,<br>
        you can share and exchange your opinions , inpressions , and emotions<br>
        about various books!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-sm-10 mx-auto">
      <%= link_to "Log in", new_user_session_path, class: 'btn btn-sm btn-block btn-info' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-sm-10 mx-auto mt-2">
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-sm btn-block btn-success' %>
    </div>
  </div>
</div>